<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erick Hernández</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <h1>Erick Hernández</h1>

    <h2>PORTFOLIO</h2>

    <!-- Botones de filtro -->
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Todo </button>
      <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
      <button class="btn" onclick="filterSelection('trabajo')"> Trabajo </button>
      <button class="btn" onclick="filterSelection('contactos')"> Contactos</button>
    </div>
    
    <!-- Contenido Portfolio -->
    <div class="row">

        <!-- Sección de Voluntariado -->
      <div class="column voluntariado">
        <div class="content">
          <h4>Voluntariado</h4>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/Images/TECHO.png" alt="TECHO" style="width:100%">
          <h4>TECHO</h4>
          <p>2015 - Actualidad</p>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/Images/MUNESEN.png" alt="MUN ESEN" style="width:100%">
          <h4>MUN ESEN</h4>
          <p>2017 - 2019</p>
        </div>
      </div>
      <div class="column voluntariado">
        <div class="content">
          <img src="/Images/MIH.png" alt="Make It Happen" style="width:100%">
          <h4>Make It Happen</h4>
          <p>2017 - 2019</p>
        </div>
      </div>
    
      <!-- Sección de Experiencia Laboral -->
      <div class="column trabajo">
        <div class="content">
          <h4>Experiencia Laboral</h4>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/Images/TECHO.png" alt="TECHO" style="width:100%">
          <h4>Coordinador de Voluntariado - TECHO</h4>
          <p>2020 - Actualidad</p>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/Images/ESEN.png" alt="ESEN" style="width:100%">
          <h4>Ayudante Materias</h4>
          <p>2019 - Actualidad</p>
        </div>
      </div>
      <div class="column trabajo">
        <div class="content">
          <img src="/Images/Excel.jfif" alt="Excel Automotriz" style="width:100%">
          <h4>Optimización de proecesos - Excel Automotriz</h4>
          <p>Dec 2019 - Ene 2020</p>
        </div>
      </div>
      
      <!-- Sección de Contactos -->
      <div class="column contactos">
        <div class="content">
          <h4>Contactos</h4>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/Images/Sven.jfif" alt="Sven" style="width:100%">
          <h4>Sven</h4>
          <p>sguzman@esen.edu.sv</p>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/Images/Chema.jfif" alt="Chema" style="width:100%">
          <h4>Chema</h4>
          <p>jvelasquez@esen.edu.sv</p>
        </div>
      </div>
      <div class="column contactos">
        <div class="content">
          <img src="/Images/Balbino.jfif" alt="Balbino" style="width:100%">
          <h4>Balbino</h4>
          <p>baylagas@esen.edusv</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>

    <!-- Javascript -->
    <script src="/script.js"></script>

</html>